<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Eat-Da-Burger!</h1>
    <img src="/img/burger.jpg">
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Available Burgers!</h3>
      <ol>

        {{#each burgers}}
        {{#unless this.devoured}}
        <li>
          
            {{!-- //{{}} --}}
            
            <form action="/{{this.id}}?_method=PUT" method="POST">
               {{this.burger_name}}
            <input type="hidden" name="devoured" value="true">
            <button type="submit">Devour It!</button>
          </form>
        </li>
        {{/unless}}
        {{/each}}
      </ol>


    </div>

    <div class="col-md-6">
      <h3>Devoured Burgers!</h3>

      <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        <li>
          {{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="container text-center">

  <h3>Add a burger</h3>
  <form class="create-form" action="/" method="POST">

    <div class="form-group">
      <label for="burger_name">Burger Name:</label>
      <input type="text" id="burger_name" name="burger_name">

      <input type="hidden" name="devoured" value="0">
    </div>

    <button type="submit">Add burger</button>
  </form>
</div>
</div>